@charset "UT-8";

:root{
    --cor0:#9CAEB2;
    --cor1:#2168A6; /* links*/
    --cor2:#A06054; 
    --cor3:#C7918F;
    --cor4:#5A463B;
    --cor5:#2C424F;
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    background-color: #cde7ee67;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: #A06054;
}
header h1{
    text-align: center;
    font-size: 2em;
}
header > img{
    border-radius: 50%;
}
div#links{
    background-color: #91564b;
    padding: 10px;
}
div > a{
    color: #1a272e;
    text-decoration: none;

}
div > a:hover{
    text-decoration: underline;
}
article{
    height: 500px;
    width: 400px;
    margin: auto;
}

article h1{
    background-image: linear-gradient(to left,#1a272e,#2C424F);
    color: white;
    padding: 5px;
    font-size: 2em;

}

article h2{
    background-image: linear-gradient(to left, #1a272e, #2168A6);
}

section > div{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1.3em;

}
section > div.imagem{
    background: url(../imagens/baekhyun.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

section > p{
    font-size: 1.3em;
}